// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

// VARIABLES

$bodywidth: 900px;
$gap: 2rem;
$small-gap: 0.5rem;
$mobile: 768px;

$text: #aed;
$background: #00203f;
$accent: #46d5;
$a-opaque: #46d9;

$headerfont: 'Fraunces', serif;
$bodyfont: 'Overpass', sans-serif;
$bodyweight: 300;

$simpleborder: 1px solid $text;

// MIXINS

@mixin red {
    border: 1px red solid;
    box-sizing: border-box;
}

@mixin nospace {
    gap: 0;
    margin: 0;
    padding: 0;
}

@mixin simpleborder {
    border: none;
    border-bottom: $simpleborder;
}

// GLOBAL STYLES

html {
    scroll-behavior: smooth;
}

body {
    font-family: $bodyfont;
    font-weight: $bodyweight;
    max-width: $bodywidth;
    margin: auto;
    padding: 4rem 0;
    color: $text;
    background-color: $background;
}

h1,
h2,
h3,
h4 {
    font-family: $headerfont;
    @include nospace();
}

h1 {
    font-weight: 100;
    font-size: 3rem;
}

h3 {
    font-weight: 800;
    font-style: italic;
}

a {
    border: $simpleborder;
    border-radius: 1rem;
    padding: 0.2rem 0.75rem;
    text-decoration: none;
    transition: .15s all ease-in-out;
    color: $text;

    &:hover {
        background-color: $text;
        color: $background;
    }

    hr {
        @include simpleborder();
    }
}

.nonewline {
    white-space: nowrap;

    @media (max-width: $mobile) {
        white-space: normal;
    }
}

// Center About
.about {
    // @include red;
    display: flex;
    gap: 1em;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    align-items: flex-start;
}

// Navigation Section

.nav {
    background-color: $background;
    border-top: 1px solid $text;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $bodywidth;
        margin: 0 auto;
        padding: 1rem 2em;
    }

    .nav-links {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .copyright {
        color: $text;
        margin: 0;
    }
}

// PROJECT

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
    margin-bottom: 2rem;
    padding: 1rem 0;

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

.projecttext {
    display: flex;
    flex-direction: column;
    gap: $small-gap;

    >* {
        @include simpleborder();
        padding-bottom: 0.5rem;
    }
}

.projecttags {
    display: flex;
    flex-wrap: wrap;
    gap: $small-gap;
}

.tag {
    font-size: 0.85rem;

    &:not(:last-child)::after {
        content: ",";
    }
}

.projectimages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: $small-gap;
    align-content: start;
}

.projectthumb {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s ease;
    @include simpleborder();

    &:hover {
        transform: scale(1.05);
    }
}

// Social Links
.sociallinks {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}